body {
    background-color: #232323;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.asistan-mesaji,
.kullanıcı-mesaji {
    position: relative;
    background-color: #313131;
    border-radius: 10px;
    width: 500px;
    margin: 10px auto;
    padding: 20px;
}

.asistan-mesaji img,
.kullanıcı-mesaji img {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin-right: 10px;
}

.asistan-mesaji img {
    float: left;
}

.kullanıcı-mesaji img {
    float: right;
}

.asistan-mesaji p,
.kullanıcı-mesaji p {
    margin-left: 0px
}

.asistan-mesaji h3 {
    margin-left: 60px;
}

.code {
    border-radius: 10px;
    width: 400px;
    height: calc(height + 10);
    background-color: #272727;
    padding: 10px;
}

.link {
    text-decoration: none;
    color: rgb(0, 217, 255);
}

.underlined {
    text-decoration: underline;
}

.messages {
    margin-top: 0px;
}
